
h1 {
	font-family: "Rock Salt", sans-serif;
	font-size: 4em;
}

h3 {
	font-family: "Rock Salt", sans-serif;
	font-size: 1em;
}

p {
	font-family: "Raleway", sans-serif;
}

.page {
	height: 100vh;
	width: 100vw;
}

#home {
	/*background-image: url("../images/booth.jpg");*/
}

#home h1 {
	padding-top: 30%;
}

#home h2 {
	font-family: "Amatic SC", sans-serif;
	font-size: 4em;
	padding-top: 10%;
}

.btn {
	font-family: "Raleway", sans-serif;
}

#register {
	background-image: url("../images/ryan_register.png");
}

#register h1, h3 {
	display: inline-block;
	margin-top: 5%;
}

#register h3 {
	margin-left: 2%;
}

#register p {
	margin-top: 20%;
}

#register .btn-primary {
	padding: 50%%;
	border: 3px solid black;
	margin-top: 40%;
}


#learn {
	background-image: url("../images/ryan_oops.png");
}

#learn h1 {
	font-size: 3em;
	margin-top: 5%;
}

#pvs_search {
	margin-top: 20%;
}

#about {
	background-color: rgba(255, 244, 62, 0.3);
}

#about h1 {
	font-size: 3em;
	margin-top: 5%;
}

.img-responsive {
	border-radius: 5px;
	border: 3px solid black;
	margin-top: 10%;
}

#about p {
	margin-top: 6%;
}

